@if(user()) {
<nav class="navbar navbar-expand-lg bg-primary text-white navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Senthamizh ReWritten</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/roles" routerLinkActive="active">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/channels" routerLinkActive="active">Channels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="rounded-circle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="bi bi-person-circle"></i><span class="ms-2">{{ user()?.global_name }}</span> -->
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img alt="avatar" class="rounded-circle"
                                [src]="`https://cdn.discordapp.com/avatars/${user()?.discordID}/${user()?.avatar}.png?size=128`"
                                onerror="this.onerror=null;this.src=`https://placehold.co/96x96/cccccc/000000?text=No+Avatar`;" />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <div class="px-4 pb-0 pt-2">
                            <div class="lh-1 ">
                                <h5 class="mb-1"> {{user()?.global_name}}</h5>
                                <a routerLink="/profile" class="text-inherit fs-6">View my profile</a>
                            </div>
                            <div class="dropdown-divider mt-3 mb-2"></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item cursor-pointer" (click)="logout()">
                                    <i class="me-1 icon-xxs bi bi-box-arrow-in-right dropdown-item-icon"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
}