<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="h3 text-center">Senthamizh ReWritten</h1>
                        <p class="mb-6 text-center">All In One Place for Discord, FiveM
                            details related to Senthamizh Roleplay
                        </p>
                    </div>
                    <div class="mb-3 d-grid">
                        <button (click)="loginWithDiscord()" class="btn btn-primary">
                            <i class="bi bi-discord"></i>
                            <span class="ms-2">Login with Discord</span>
                        </button>
                    </div>
                    <span class="text-center text-danger">{{ errorMessage() }}</span>
                </div>
            </div>
        </div>
    </div>
</div>